@use "../../theme" as t;

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 5px;
}

.chip {
    background-color: t.$color-fill-brand;
    margin: 5px;
    color: t.$color-gray-light;

    &:hover {
        background-color: t.$color-background-accent;
        color: t.$color-gray-dark;
    }
}
