$background: #201c2b;

$color-background-base: #17161d;
$color-background-alt: #222127;
$color-background-alt-2: #2f2f37;

$color-background-accent: #782ce8;
$color-background-accent-alt: #5c19c6;
$color-background-accent-alt-2: #451094;

$color-purple-light: #e2dbf0;
$color-purple-main: #6441a4;
$color-purple-dark: #201c2b;

$color-gray-light: #e5e3e8;
$color-gray-main: #424242;
$color-gray-dark: #232127;

$color-fill-brand: #9246ff;
$color-fill-info: #1e69ff;
$color-fill-warn: #fdca61;
$color-fill-alert: #e81b16;
$color-fill-success: #3ce3c9;
