@use '../../theme' as t;

.root {
  width: 300px;
  height: calc(100vh - 75px);

  background-color: t.$color-background-white;
  box-shadow: 10px 0px 5px t.$color-background-main;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
