@use '../../theme' as t;

.root {
  width: 300px;
  height: calc(100vh - #{t.$nav-height} - #{t.$cta-height});

  background-color: t.$color-background-white;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
