@use '../../../theme' as t;

.root {
  width: 250px;

  border-radius: 12px;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  margin-bottom: 20px;

  img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: top;
  }
}
