@use '../../theme' as t;

.root {
  width: 100vw;
  height: 100vh;
}

.grid {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.nav {
  width: 60vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.splash {
  width: 60vw;
  margin-top: 20px;
}

.logo {
  height: 60px;
}

.heading {
  color: t.$color-gray-light;
  font-weight: bold;
  margin-bottom: 20px;
}

.button {
  background-color: t.$color-background-accent;
  margin-top: 20px;
  color: t.$color-gray-light;
}
