@use '../../theme' as t;

.root {
  display: flex;

  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.container {
  display: flex;
  margin-top: calc(#{t.$nav-height} + 25px);
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  height: calc(100vh - #{t.$nav-height} - 25px);
  width: 100vw;
}

.main {
  width: 100%;
}
