@use '../../theme' as t;

.header {
  position:absolute;
  left:0; right:0;
  height: 68px;
  background-color: #3300FF;
}

body {
  height: 100%;
  overflow: hidden;
}
.sidebar {

  height: 100%;
  position:fixed;
  left:0;
  width: 178px;
}
.main {
  overflow-y: scroll;
  position: absolute;
  left:462px; top:107px; right:0; bottom:0;
}

.recc {
  margin-left: 80px;
  font-family: sans-serif;
  margin-top: 25px;
  //font-weight: bold;
}

.reccpic {
  height: 50px;
  width: 50px;
  margin-top: 10px;
  margin-left: 0px;
  margin-bottom: 3px;
  border-radius: .25rem;
}

.bookTags {
  position: absolute;
  left: 50px;
  bottom: 60px;
  margin-bottom: 10px;
  margin-left: 20px;
  z-index: 2;
}
