@use '../../theme' as t;

.root {
  min-height: 100vh;
}

.header {
  position: absolute;
  left: 0;
  right: 0;
  height: 68px;
  background-color: #3300ff;
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  display: flex;
}

.sidebar {
  height: 100%;
  position: fixed;
  left: 0;
  width: 178px;
}
.main {
  overflow-y: scroll;
  position: absolute;
  left: 462px;
  top: 107px;
  right: 0;
  bottom: 0;
}

.recc {
  margin-left: 80px;
  font-family: Roboto;
  margin-top: 20px;

  img {
    margin-top: 20px;
    height: 100px;
    width: 100px;
    border-radius: 20px;
    object-fit: cover;
    object-position: top;
  }
}

.reccpic {
  height: 50px;
  width: 50px;
  margin-top: 10px;
  margin-left: 0px;
  margin-bottom: 3px;
  border-radius: 0.25rem;
}

.bookTags {
  position: absolute;
  left: 50px;
  bottom: 60px;
  margin-bottom: 10px;
  margin-left: 20px;
  z-index: 2;
}

.integrations {
  margin-left: 80px;
  margin-top: 25px;

  img {
    width: 35px;
    height: 35px;
    margin-right: 20px;
  }
}
