@use '../../theme' as t;

.infoDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  margin: 2rem 0;
}

.formContainer {
  justify-content: center;
}

.booksContainer {
  width: 100%;
}

.progress {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
}
