@use '../../theme' as t;

/* Sidebar */
.root {
  //position: fixed;
  margin-left: 30px;
}

//TODO: description should not overflow
.description {
  max-width: 350px;
  position: relative;
}

.outer {
  left: 34px;
  top: 107px;

  position: relative;
  width: 428px;
  height: 654px;

  background: t.$color-paper;

  border-radius: 25px;
}

.inner {
  position: absolute;
  flex-direction: column;
  align-content: space-around;
  background: t.$color-background-accent;

  border-radius: 25px;
  color: #ffffff;

  left: 70px;
  top: 80px;
  width: 360px;
  height: 312px;
  padding: 30px;

  img {
    height: 200px;
    width: 175px;
    border-radius: 20px;
    object-fit: cover;
    align-self: center;
    margin-bottom: 15px;
  }
}

.upvotes {
  position: absolute;

  left: 48px;
  top: 36px;

  height: 32px;
  width: 400px;
  flex-direction: row;
  font-size: x-large;
  vertical-align: middle;
  // Put the upvote button at a layer above the book summary section so that the button is clickable
  z-index: 1;
}

.btn {
  outline: none;
  border: none;
  cursor: pointer;
  transition: transform 0.5s ease;
  box-shadow: 0px 0px 0px transparent;
  background: transparent;
  width: 35.64px;
  height: 31.78px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 12px;
  z-index: 2;
}

.btn:hover {
  /*on hover... should it fill in?*/
}

h5 {
  font-weight: 600;
}

/* Comments section */
.discussion {
  margin-left: 80px;

  margin-top: 20px;
}

.commentform {
  padding-top: 50px;
  padding-bottom: 15px;
  width: 60%;
}

.comments {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  .avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
  }
}

.comment {
  margin-left: 20px;
}

.reccpic {
}
