@use '../../theme' as t;

.root {
  margin-left: 30px;
}

.description {
  max-width: 350px;
  position: relative;
}

.card {
  margin-left: 34px;
  margin-top: 107px;

  width: 428px;
  min-height: 654px;

  background: t.$color-paper;

  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 60px;
  padding-bottom: 40px;

  .actions {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .icon {
      color: t.$color-fill-brand;
      border: t.$color-fill-brand;
      margin: 0px;
    }

    button {
      padding: 0px;
      margin: 0px;
      background-color: transparent;
      border: none;
      box-shadow: none;
    }
  }

  .details {
    display: flex;
    flex-direction: column;
    margin-top: 30px;

    .title,
    .author {
      text-align: center;
      color: #000000;
    }

    .title {
      font-weight: bold;
    }

    .author {
      margin-top: 10px;
    }
  }
}

.card::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}

.cover {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;

  img {
    height: 360px;
    width: 360px;
    border-radius: 20px;
    object-fit: cover;
    object-position: center;
  }
}

.tags {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  background-color: t.$color-background-accent;
  padding: 10px;
  border-radius: 12px;
}

.chip {
  margin-right: 4px;
  margin-top: 4px;
}

.label {
  font-size: 0.9rem;
  font-weight: bold;
}
