$color-paper: #ebe6ff;

$color-background-main: #fafafa;
$color-background-white: #ffffff;
$color-background-accent: #b3a1ff;

$color-gray-lighter: #f5f5f5;
$color-gray-light: #e5e3e8;
$color-gray-main: #424242;
$color-gray-dark: #232127;
$color-black: #000000;

$color-fill-brand: #3300ff;
$color-fill-brand-tint-1: #4212ff;
$color-fill-brand-tint-2: #5024ff;

$color-fill-info: #1e69ff;
$color-fill-dropbox-blue: #017ee5;
$color-fill-warn: #fdca61;
$color-fill-alert: #e81b16;
$color-fill-success: #3ce3c9;

$side-nav-width: 300px;
$nav-height: 60px;
$cta-height: 100px;
$search-height: 100px;
