@use '../../theme' as t;

.nav {
  width: 100vw;
  height: t.$nav-height;
  background-color: t.$color-fill-brand;
  flex-wrap: nowrap;
  padding: 5px 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  position: fixed;
}

.button {
  border-radius: 20px;
}

.left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  .search {
    margin-left: 20px;
  }

  img {
    height: 40px;
  }
}

.center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  .icon {
    color: t.$color-background-main;
    margin-left: 22px;
    margin-right: 22px;
  }

  .icon::active {
    color: t.$color-fill-dropbox-blue;
  }
}

.right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  max-width: 100%;

  .icon {
    color: #000000;
  }

  img {
    height: 35px;
    width: 35px;
    object-fit: cover;
    object-position: top;
    margin-right: 8px;
  }

  .icon_circle {
    height: 35px;
    width: 35px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: t.$color-fill-dropbox-blue;
    border-radius: 50%;
    margin-left: 8px;
    margin-right: 8px;
  }
}

.search {
  width: 300px;
  height: 40px;
  background-color: t.$color-background-main;
  border-radius: 20px;
  padding: 4px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  .icon {
    color: t.$color-gray-light;
    margin-left: 10px;
  }

  .text_field {
    margin-left: 10px;
  }
}
