@use '../../theme' as t;

.root {
  width: 100vw;
  height: t.$nav-height;
  background-color: t.$color-fill-brand;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 5px 30px;

  flex-wrap: nowrap;
}

img {
  max-width: 100%;
  height: 75px;
}

.button {
  border-radius: 20px;
}
